$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$bootstrap-sass-asset-helper: true;
@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

#container{
  margin-top: 40px;
}
.chat_view{
  border-radius:7px;
  background:#d3d3d3; 
  margin: auto;
  width: 50%;
  border: 1px solid #262626;
  overflow-y: auto;
  position: relative;
  font-family:  'arial narrow'
}
.chat_view > section{
  height: 500px;
  padding: 7px;
  max-width: 100%;
  overflow-x: hidden;
}
.message_box{
  font-size: 1.3em;
  width: 100%;
  padding: 7px 0;
}
.message_box>h3{
  font-size: 1.2em;
  display: inline;
  padding: 0;
  margin:0;
}
.message_box>p{
  font-size: 1em;
  display: inline;
}
.message_box>h2{
  font-size: 1.7em;
  padding: 0;
  margin:0;
}
.chat_view >input{
  height: 50px;
  font-size:2em;
  display:block;
  margin:2.5%;
  border: none;
  padding: 7px;
  width:95%;
  border-radius:9px;
  outline: none;
}
.chat_view > main{ 
  color:white;
  height:  50%;
  width:90%;
  padding-top:50px;
  margin:0 auto;
  text-align: center;
}
.chat_view > main h1{ 
  font-size:5em; 
}
.chat_view > main h2{ 
  line-height: 1.5;
  font-size:1.5em; 
}


.wellcome{
  background-image: url('http://ak3.picdn.net/shutterstock/videos/15956803/thumb/1.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height:600px;
}
main input,main button{
  height: 50px;
  font-size:2em;
  display:block;
  margin:0 auto;
  margin-top: 30px;
  border: none;
  padding: 7px;
  width:65%;
  border-radius:9px;
  outline: none;
}
  main input{
    color:#262626;
    text-align: center;
  }
main button{
  background: #196B19;
}

@media (max-width: 600px) {
  body{
    font-size:0.5em;
  }
 }